<html>
<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../style/event-create.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
		<div class="col-sm-6">
			<button class="left"><i class="fa fa-chevron-left"></i> Back </button>
		</div>
		<div class="col-sm-6">
			<button class="right"><i class="fa fa-plus"></i> Create Event</button>
		</div>
	</div>
	<section>
	<div class="row">
		<div class="col-sm-4">
			<h5>Event type:</h5>
		</div>
		<div class="col-sm-8"> 
			<ul class="radio-list">
				<li><input type="radio"/> Type 1</li>
				<li><input type="radio" /> Type 2</li>
			</ul>
		</div>

	</div>
	</section>
	<section>
	<div class="row">
		<div class="col-sm-12">
			<h5>Event Information</h5>
			<input type="text" placeholder="Event Title" /><br />
			<input type="text" placeholder="Time + Date" /><br />
			<input type="text" placeholder="Location" /><br />
			<input type="text" placeholder="Description"/><br />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
		<h5>Select tags:</h5> 
		<ul class="checkbox-list">
			<li><input type="checkbox" />Tag 1</li>
			<li><input type="checkbox" />Tag 2</li>
			<li><input type="checkbox" />Tag 3</li>
			<li><input type="checkbox" />Tag 4</li>
		</ul>
	</div>
	</div>
</section>

</body>
</html>