<div id="event-header">
	<div id="event-image">
		<img src="http://zoarchurch.co.uk/content/pages/uploaded_images/91.png" />
	</div>
	<div id="event-info">
		<div id="event-title">Hey this is a title</div>
		<div id="event-date">Date
		</div>
		<div id="event-time">Time
		</div>
		<div id="event-tags">#homelessness #tutoring/mentoring
		</div>
	</div>
	<div id="invite-button">
		<input type="button" value="INVITE!">
	</div>
	<div id = "eventC">
		<div id = "event-description"> 
			<div id = "event-description-about">
				ABOUT
			</div>
		Description: 70% of the US economy is based on consumption AKA – we buy stuff. What if we were able to change our culture of constant consumption to consistent compassion rooted in loving our neighbors? We think it would look like this.
		</div>
		<div id = "event-attendees">15 people attending
		</div>
		<div id = "event-discussion">
			<div id = "event-discussion-title"> DISCUSSION
			</div>
		</div>
	</div>
</div>