<div id="new-event">
    <div class="green-line"></div>

    <img class="display-pic" src="images/display-image.svg" alt="display image" />
    <img class="uni" src="images/universal-active.svg" alt="universal icon" />

    <div id="new-event-btn">
        <h2>CREATE EVENT</h2>
        <img src="images/prayer-icon.svg" alt="prayer icon" />
    </div>

    <div class="wrapper">
        <img class="cancel-post" src="images/cancel-icon-grey.svg" alt="cancel post" />
        
        <form id="create-event-form">
            <table>
                <tr>
                <td><label for="title">Title: </label></td>
                <td><input  type="text" class="event-field" 
                            name="title" 
                            id="title-field"/></td>
                </tr>

                <tr>
                <td><label for="name">Location: </label></td>
                <td><input  type="text" class="event-field" 
                            name="location" 
                            id="location-field"/></td>
                </tr>

                <tr>
                <td><label for="date">Time: </label></td>
                <td><input  type="text" class="event-field"
                            name="datetime"
                            id="datetime-field"/>
                </td>
                </tr>

                <tr>
                <td><label for="description">Description:</label></td>
                <td><textarea 
                        name="description"  class="event-field"
                        id="description-field"
                        cols="40"
                        rows="4"></textarea></td>
                </tr>

                <tr>
                <td><label for="tags">Tags: </label></td>
                <td><input  type="text" class="event-field"
                            name="tags"
                            id="tags-field"/>
                </td>
                </tr>

            </table>
            <div class="dot-line"></div>
            <button id="create-event-btn">CREATE</button>
        </form>
        <div style="clear:both;"></div>
    </div>
</div>
<!--
<div class="new-post" id="new-post-btn">

                <div class="green-line"></div>

                <img class="display-pic" src="images/display-image.svg" alt="display image" />
                <img class="uni" src="images/universal-active.svg" alt="universal icon" />

                <div class="new-post-btn">
                    <h2>CREATE EVENT</h2>
                    <img src="images/prayer-icon.svg" alt="prayer icon" />
                </div>

                <div class="wrapper">

                    <img class="cancel-post" src="images/cancel-icon-grey.svg" alt="cancel post" />

                    <p><span></span> <span>writes:</span></p>
                    <form style="margin:0% 0% 0% 10%; padding=0%">

                        		<table>
                        			<tr>
                        			<td><label for="title">Title: </label></td>
                        			<td><input 	type="text" class="event-field" 
                        						name="title" 
                        						id="title"/></td>
                        			</tr>

                        			<tr>
                        			<td><label for="name">Location: </label></td>
                        			<td><input 	type="text" class="event-field" 
                        						name="location" 
                        						id="location"/></td>
                        			</tr>

                        			<tr>
                        			<td><label for="date">Time: </label></td>
                        			<td><input 	type="text" class="event-field"
                        						name="datetime"
                        						id="datetime"/>
                        			</td>
                        			</tr>

                        			<tr>
                        			<td><label for="description">Description:</label></td>
                        			<td><textarea 
                        					name="description"  class="event-field"
                        					id="description"
                        					cols="40"
                        					rows="4">
                        					
                        				</textarea></td>
                        			</tr>

                        		</table>
                        <div class="dot-line"></div>
                        <button id="submitprayer" onclick="$('form').one('submit', function (e) {
    e.preventDefault();
    postprayer($('#text').val());
    $('#submitprayer').attr('disabled', 'disabled');
});">POST</button>

                        <img src="images/universal.svg" alt="universal icon" />

                        <input type="password" value="" name="password">
                    </form>

                    <div style="clear:both;"></div>

                </div>
            </div>
-->
<!-- end of new prayer block-->

<!--
<div class="prayer-block universal-id logoff-message block-4">

                <img class="display-pic" src="images/logoff-profile.svg" alt="display image" />


                <p class="block-id"><span>LoGOFF</span><span> message:</span></p>

                <p class="prayer-text"> Welcome to LoGOFF. Write the event you want to share.</p>


                <div style="clear:both;"></div>

            </div>


-->

<!--
<div class="prayer-block universal-id logoff-message block-4">
	<img class="display-pic" src="images/logoff-profile.svg" alt="display image" />
    <p class="event-title">This is the event title</p>
    <p class="event-loc-time"><span>It is located here</span> | <span>at this time</span></p>
    <p class="event-desc">This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. </p>
</div>
-->

<div class="prayer-block universal-id logoff-message block-4">
    <img class="display-pic" src="images/logoff-profile.svg" alt="display image" />

    <p class="block-id"><span id="name">Name</span><br />
                        <span id="date">Date/Time</span><br />
                        <span id="going">Going?</span>
                        <span>
                            <input type="radio" name="option" id="yes"/>
                            <label for="yes">Yes</label>
                            <input type="radio" name="option" id="no"/>
                            <label for="no">No</label>
                        </span><br />
                        <span id="tags">#tags</span>
    </p>

    <p class="prayer-text">Hack4missions!</p>
    <hr />
    <p style="text-align:right; margin:0% 5% 0% 0%;">Seen by 15 people</p>


</div>